<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<sites>
			<site name="VisitSouthIndia" patch:before="site[@name='website']"
				  virtualFolder="/"
				  physicalFolder="/"
				  rootPath="/sitecore/content/VisitUs/VisitSouth"
				  startItem="/home"
			      hostName="visitus.southindia.com"
				  targetHostName="visitus.southindia.com"
				  database="web"
				  domain="extranet"
				  allowDebug="true"
				  cacheHtml="true"
				  htmlCacheSize="50MB"
				  enablePreview="true"
				  enableWebEdit="true"
				  enableDebugger="true"
				  disableClientData="false"/>
		</sites>
	</sitecore>
</configuration>