<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Feature.DetailPage" dependencies="Foundation.Serialization" description="All detail page feature level configs like renderings, feature specific templates">
					<targetDataStore physicalRootPath="C:\SitecoreProject\src\$(layer)\$(module)\serialization" />
					<predicate>
						<include name="DetailPage Renderings" database="master" path="/sitecore/layout/Renderings/Feature/DetailPage" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>