<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<contentSearch>
			<indexConfigurations>
				<defaultSolrIndexConfiguration>
					<fieldMap>
						<fieldNames hint="raw:AddFieldByFieldName">
							<field fieldName="ArticleUrl" returnType="string" />
							<field fieldName="ArticleImageUrl" returnType="string" />
							<field fieldName="ArticleSpeciality" returnType="string" />

						</fieldNames>
					</fieldMap>
					<documentOptions>
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="ArticleUrl" returnType="string">
								AltudoBatch1.Foundation.Search.ComputedIndexes.ArticleUrl, AltudoBatch1.Foundation.Search
							</field>
							<field fieldName="ArticleImageUrl" returnType="string">
								AltudoBatch1.Foundation.Search.ComputedIndexes.ArticleImageUrl, AltudoBatch1.Foundation.Search
							</field>
							<field fieldName="ArticleSpeciality" returnType="string">
								AltudoBatch1.Foundation.Search.ComputedIndexes.ArticleSpeciality, AltudoBatch1.Foundation.Search
							</field>
						</fields>
					</documentOptions>
				</defaultSolrIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>