
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				
				<configuration name="Foundation.Serialization" >
					<targetDataStore physicalRootPath="C:\SitecoreProject\src\$(layer)\$(module)\serialization" />
					<predicate>
						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/Trainee/AltudoCommonLayout" />
						<include name="Placeholder Settings" database="master" path="/sitecore/layout/Placeholder Settings/Project/altudo-main" />
						
					</predicate>
				</configuration>
				
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
